<div class="form-row">
    <div class="form-group">
        <label>Intensity</label>
        <select name="meta_intensity" class="form-input form-input-sm">
            <option value="low">Low</option>
            <option value="medium" selected>Medium</option>
            <option value="high">High</option>
            <option value="extreme">Extreme</option>
        </select>
    </div>
    <div class="form-group">
        <label>Sets</label>
        <input type="number" name="meta_sets" class="form-input form-input-sm" placeholder="Sets" min="0">
    </div>
    <div class="form-group">
        <label>Reps</label>
        <input type="number" name="meta_reps" class="form-input form-input-sm" placeholder="Reps" min="0">
    </div>
</div>
